@using Contactus1.Models;
@model List<Contactus1.Models.Message>
@{
    ViewData["Title"] = "پیام ها";
    var counter = 1;
    var message3 = TempData["IsSuccess"];
    var partialView = new List<Message>()
    {
        new Message()
        {
            FullName="امیرحسین مختاری",
            PhoneNumber="09224940113",
            MessageBody="خوبی..",
            Subject="تشکر.."
        }
    };
 

}
@section Style
    {

    <style>
        thead th {
            text-align: right;
        }

        thead {
            box-shadow: 0 0 2px 0 gray;
            background: #0000000d;
        }

        body {
            background-image: url('/images/bg-01.jpg');
            background-size: cover;
        }
    </style>
}
<div class="container">
    <div class="card">
        <div class="card-header">
            لیست پیام ها
        </div>

        @if (message3 != null)
        {
            <div class="alert alert-success">
                عملیات با موفقیت انجام شد
            </div>
        }
        else
        {
            <div class="alert alert-success">
                Eror
            </div>
        }
        <div class="card-body">
            <partial name="_Message" />
        </div>
        <div class="card-body">
            @await Html.PartialAsync("_Message",partialView);
        </div>
    </div>
</div>


